<p>create new shift</p>
<form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
    <div class="form-group">
        <div class="input-group">
            <input class="form-control" type="datetime-local" name="Start" #Start="ngModel" [(ngModel)]="newShift.Start"/>
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <input class="form-control" type="datetime-local" name="End" #End="ngModel" [(ngModel)]="newShift.End"/>
        </div>
    </div>
    
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Create new trade</button>
    </div>
</form>

<table class="table table-hover">
    <tr *ngFor="let us of allUsers" >
        <td>{{us.UserId}}</td>
        <td>{{us.Username}}</td>
        <td>{{us.Email}}</td>
        <td>
            <button (click)="selectUser(us)">add</button>
        </td>
    </tr>
</table>

